{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'more.css' %}">
    <title>more</title>
</head>
<body>
    <button class="btn"><a href="{% url 'home' %}" class="back">back to home</a></button>
    <button class="btn"><a href="{% url 'edit' post.id %}" class="back">Edit</a></button>
    <button class="btn"><a href="{% url 'delete' post.id %}" class="back">Delete this post</a></button>

    <div>
        <img src="{{ post.img.url }}" alt="rasm" class="img">
        <h1>{{ post.title }}</h1>
        <h4>{{ post.desc }}</h4>
    </div>
</body>
</html>